<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtRUAxVMZu52E-aGF9kp8qN1HAxqo7x1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>148564880405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajruuudin.chitchat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-8a0f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-8a0f3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148564880405:ios:71ab59e46dbe8ad32db21c</string>
</dict>
</plist>